:root {
  --font-family: "Poppins";
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  background: #69c4fa;
  padding: 0 2em;
}
.secondary-bg {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(
    -180deg,
    rgba(45, 174, 240, 0.5) 0,
    rgba(45, 174, 240, 0) 95%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewY(-6deg);
}
main {
  color: white;
  position: relative;
  padding-bottom: 1em;
  z-index: 9;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "input input input"
    "solution solution solution";
    grid-template-columns: 45% 10% 45%;
  nav {
    grid-area: nav;
    h1 {
      line-height: 48px;
      font-weight: 800;
      font-size: 2.5em;
    }
  }
  section {
    display: flex;
    flex-direction: column;
  }
  section.input-area {
    grid-area: input;
  }
  .solution {
    grid-area: solution;
    &__box {
      padding: 12px 16px;
      border-radius: 5px;
      height: 100%;
      min-height: 150px;
      border: none;
      outline: none;
      transition: all 0.25s ease-in-out;
      background-color: rgba(38, 169, 234, 0.5);
    }
  }
  footer {
    grid-area: footer;
  }
}
input {
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 35px;
  transition: all 0.25s ease-in-out;
  background-color: rgba(38, 169, 234, 0.5);
  color: #fff;
  border: none;
}
::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}
::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}
:-moz-placeholder {
  color: white;
  opacity: 0.7;
}



@media only screen and (max-width: 600px){
  body {
    padding: 0 1em;
  }
  main {
    grid-template-areas:
      "nav nav nav"
      "input input input"
      "solution solution solution";
    grid-template-columns: 40% auto auto;
  }

}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}