:root {
  --font-family: "Poppins";
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
}
main {
  color: white;
  position: relative;
  z-index: 9;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "text solution"
    "footer footer";
  grid-template-rows: 75% 25%;
  grid-template-columns: 50% 50%;
  nav {
    grid-area: nav;
    padding: 0.5em;
  }
  section {
      padding: 1.5em;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  section.text {
    -webkit-box-shadow: 6px 6px 24px 6px rgba(0,0,0,0.49); 
    box-shadow: 6px 6px 24px 6px rgba(0,0,0,0.49);
    background-color: white;
    color: black;
    grid-area: text;
    h1 {
        font-weight: 800;
        font-size: 2em;
    }
    p {
        margin: 0.2em 0;
    }
    ul {
        margin: 0;
    }
  }
  section.solution {
    grid-area: solution;
  }
  footer {
    grid-area: footer;
  }
}
div.background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  &__overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
